/*Home page*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
html{
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
  }
*{
    padding-left: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color:var(--color-1);
}
:root{
    --color-1:black;
    --color-2:white;
    --color-3:green;
    --color-4:rgb(36, 243, 36);
    --color-5:rgb(25, 150, 25);
    --color-6:rgb(207, 205, 205);
    --color-7:
    radial-gradient(at 48% 63%, hsla(75,62%,44%,1) 0px, transparent 50%),
radial-gradient(at 94% 88%, hsla(75,96%,42%,1) 0px, transparent 50%),
radial-gradient(at 4% 6%, hsla(92,90%,74%,1) 0px, transparent 50%),
radial-gradient(at 46% 12%, hsla(86,90%,13%,1) 0px, transparent 50%),
radial-gradient(at 6% 88%, hsla(101,100%,50%,1) 0px, transparent 50%),
radial-gradient(at 96% 9%, hsla(123,100%,50%,1) 0px, transparent 50%);
    --color-8: rgba(0, 0, 0, 0.7);
}
    
.dark-theme{
    --color-1:white;
    --color-2:black;
    --color-3:red;
    --color-4:rgb(245, 64, 64);
    --color-5:rgb(121, 11, 11);
    --color-6:rgb(19, 16, 16);
    --color-7:
    radial-gradient(at 48% 63%, hsla(350,62%,44%,1) 0px, transparent 50%),
    radial-gradient(at 94% 88%, hsla(350,96%,42%,1) 0px, transparent 50%),
    radial-gradient(at 4% 6%, hsla(7,90%,74%,1) 0px, transparent 50%),
    radial-gradient(at 46% 12%, hsla(1,90%,13%,1) 0px, transparent 50%),
    radial-gradient(at 6% 88%, hsla(16,100%,50%,1) 0px, transparent 50%),
    radial-gradient(at 96% 9%, hsla(38,100%,50%,1) 0px, transparent 50%);
    --color-8:rgba(255,255,255,0.7);
}
body{
    background-color: var(--color-2);
    max-width: 16in;
}
.bar1{
    position: fixed;
    top: 5px;
    left: 25px;
    right: 25px;
    max-width: 16in;
    min-height: 55px;
    margin: 20px -10px;
    display: flex;
    box-shadow:var(--color-3)  0px 0px 0px 1px;
    border-radius: 20px;
    background-color: var(--color-6);
    z-index: 3;
}
.head{
    font-size: 40px;
    text-align: center;
}
.img{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
}
.img>img{
    margin-top: 12px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.right{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-end;
}
.icon{
    margin: 8px 15px;
    border-radius: 8px;
    padding: 8px;
    font-size: 17px;
    font-weight: bold;
    color: var(--color-1);
    text-decoration: none;
}
.right>.icon:hover{
    transition: ease-in 200ms;
    color: var(--color-2);
    background-color: var(--color-4);
    cursor: pointer;
  }
  .gap{
    height: 100px ;
  }
 
marquee{
    display: flex;
    background-color: var(--color-3);
    background-image:var(--color-7);
    height: 30px;
    padding-top: 5px;
}
.run{
    font-weight: bold;
}
.heading{
    min-height: 250px;
    display: flex;
    justify-content: center;
    border-bottom: solid 4px var(--color-3);
    margin: 0px 50px;
}
.heading>img{
    height: 250px;
    width: 250px;
    transition: ease-in 300ms;
}
.heading>img:hover{
    transition: ease-in 300ms;
    transform: scale(1.1);
    cursor: pointer;
  }
.heading>h1{
    font-size: 100px;
    padding: 30px 0px;
    transition: .2s;
}
.text{
    color: var(--color-3);
}
.over{
    font-size: 18px;
    font-weight: 800;
    text-align: center;
}
.aim{
    display: grid;
    margin: 0px 40px ;
    grid-template-columns: [one] 50% [two] 50%;
    grid-gap: 10px;
    width:calc(100% -2rem);
}
.principle{
    min-width: 50%;
    margin: 1rem;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 19px;
    font-weight: 700;
}
.principle>h1{
    font-size: 32px;
    font-weight: 780;
}
#about{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.owner{
    display: grid;
    margin: 0px 40px ;
    grid-template-columns: [one] 30% [two] 70%;
    grid-gap: 10px;
    width:calc(100% -2rem);
}
#owner{
    min-width: 30%;
}
.info{
    min-width: 70%;
}
.info>p{
    text-align: center;
    font-size: 19px;
    font-weight: 600;
}
#owner,.info{
    margin: 1rem;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
}
#owner>img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 4px var(--color-4);
}
/*Image Slider*/
.swiper-slide>img{
    width: 100%;
    height: 600px;
}

.container{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}
.swiper{
    width: 80%;
    height: fit-content;
    border-radius: 5px;
}
.swiper-slide img{
    width: 100%;

}
.swiper .swiper-button-prev,.swiper .swiper-button-next{
    color:var(--color-2);
}
.swiper .swiper-pagination-bullet-active{
    background:var(--color-2);
}
.products{
    display: grid;
    margin: 0px 40px ;
    grid-template-columns: [one] 50% [two]50%;
    grid-gap: 5px;
    width:calc(100% -2rem);
}
.product{
    min-width: 50%;
    margin: 2rem;
    padding: 3rem;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-size: 18px;
    font-weight: 550;
    background-color: var(--color-6);
}
.photo{
    width: 40%;
}
.cont{
    width: 60%;
}
.photo,.cont{
    height: 100%;
    display: inline-block;
}
.name{
    height: 20%;
    text-align: center;
}
.desc{
    height: 80%;
    padding-left: 1rem;
}
.name,.desc{
    display: inline-block;
    width: 100%;
    margin-left: 3rem;
}
.photo>img{
    height: 250px;
    width: 250px;
    margin-top: 45px;
    transition: ease-in-out 300ms;
}
.photo>img:hover{
    transition: ease-in-out 300ms;
    transform: scale(1.15);
    cursor: pointer;
}
.name{
    font-size: 30px;
    font-weight: 700;
}
.shop{
    display: flex;
    justify-content: center;
}
.shop>a>button{
    background-color:var(--color-3);
background-image:var(--color-7);
    border: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 200ms;
}
.shop>a>button:hover{
    transition: ease-in-out 300ms;
    color: var(--color-3);
    transform: scale(1.15);
}

 /*Login and register page*/
.box{
    max-height: 500px;
    max-width: 450px;
    box-shadow:  0.5px 0px 1px 0.5px;
    border-radius: 30px;
    position: fixed;
	top: 150px;
    left: 5.5in;
	background-color:var(--color-8);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
    z-index: 3;
}
.box:target{
    visibility: visible;
    opacity: 1;
}
.box>img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    bottom: 100px;
    left:120px ;
    box-shadow: 1px 1px 1px 2px;
    border-style: outset;
    transition: ease-in-out 200ms;
}
.box>img:hover{
    transition: ease-in-out 300ms;
    transform: scale(1.1);
    cursor: pointer;
}
.form{
    display: block;
    position: relative;
    bottom: 50px;
    text-decoration: none;
    color:var(--color-1);
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    margin: 0px 70px 10px 70px;
    background-color:var(--color-2);
    box-shadow: 1px 2px;
    font-weight: bold;
    transition: 0s;
}
.form:hover{
    color:var(--color-2) ;
    background-color: var(--color-1);
}
#submit{
    position: relative;
    left: 195px;
}
#verify{
    position: relative;
    left: 160px;
}
.box>p{
    color: var(--color-2);
    text-align: center;
}
.info{
    font-size: 18px;
    font-weight: 600;
}
.info>a{
    color: blue;
}
#message{
    text-align: right;
    font-size: 18px;
    color: var(--color-2);
    font-weight: bold;
    padding: 2px;
    margin: 0px 10px 0px 200px;
}
.success{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
.wrong{
    color: red;
    font-weight: 600;
    text-align: center;
}
.close{
    position: relative;
    bottom: 150px;
    left: 180px;
    font-size: 50px;
    text-decoration: none;
    color: red;
}
/*End of login and register page*/
.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: grid;
    margin: 0px 40px ;
    grid-template-columns: [one] 50% [two] 50%;
    grid-gap: 10px;
    width:calc(100% -2rem);
}
.separate1{
    min-width: 50%;
    margin: 0.5rem;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
}
.separate2{
    min-width: 50%;
    margin: 1rem;
    min-height: 600px;
    display: grid;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 19px;
    font-weight: 700;
    grid-template-rows: [one] 50% [two] 50%;
    grid-gap: 10px;
    height:calc(100% -2rem);
}
.separate1>img{
    height: 550px;
    margin: 1rem;
    transition: ease-in-out 300ms;
}
.separate1>img:hover{
    transition: ease-in-out 300ms;
    transform: scale(1.1);
    cursor: pointer;
}
.row{
    min-height: 25%;
    margin: 1rem;
    min-height: 250px;
    display: block;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 2rem;
    background-color:var(--color-6);
    border-radius: 10px;
    text-align: center;
}
.link{
    justify-content: center;
    display: flex;
    flex-flow: wrap;
}
.links{
    margin: 0px 28px 30px;
    padding: 8px;
    border-radius: 15px;
}
.links:hover{
    transition: ease-in 200ms;
    color: var(--color-2);
    background-color: var(--color-4);
    cursor: pointer;
  }
  .fe{
    display: flex;
    justify-content: center;
  }
  .feedback{
    height: 480px;
    width: 700px;
    background-color: var(--color-6);
    display: flex;
    justify-content: center;
    border-radius: 10px;
  }
  #req{
    margin-top: 50px;
  }
  .feed,option{
    padding: 5px 150px 5px 5px;
    margin: 5px;
    border: solid 1px var(--color-1);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-1);
    background-color: var(--color-2);
  }
  .feed:hover,option:hover{
    color: var(--color-2);
    background-color: var(--color-1);
    transition: 0.1s;
  }
  #feed{
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--color-1);
    background-color: var(--color-2);
    transition: ease-in-out 200ms;
  }
  #feed:hover{
    color: var(--color-2);
    background-color: var(--color-3);
    transition: ease-in-out 200ms;
    transform: scale(1.1);
  }
@media(max-width:600px){
  .bar1{
    max-width: 600px;
  }
  .right{
    display: none;
  }
  .heading>img{
    position :relative;
    height: 210px;
    width :210px;
    left: 8px;
    top: 30px;
  }
  .heading >h1{
    font-size: 70px;
    position: relative;
    right: 50px;
  }
  .aim,.owner,.products{
    grid-template-columns: [one]100%;
    margin:0px 10px;
  }
  .swiper-slide>img{
    height: 300px;
  }
  .container{
    height: 350px;
  }
  .swiper{
    width: 100%
  }
  .principle,.product{
    margin:.5rem;
    padding:1rem;
    margin-bottom:1rem;
  }
  .product{
  min-height: 800px;
  }
  .photo{
    height: 40%;
}
.cont{
    height: 60%;
}
.photo,.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}
.name{
    height: 10%;
}
.desc{
    height: 90%;
    text-align: center;
}
.name,.desc{
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    top: 60px;
    right :40px;
    margin-left: 2rem;
}
.photo>img{
    margin-top: 20px;
    height: 300px;
    width: 300px;
    }
  
 /*Login and register page*/
.box{
    max-height: 500px;
    max-width: 400px;
    position: fixed;
	  top: 150px;
    left:5px;
    right: 0px;
    bottom: 0px;
}
.box>img{
  left: 100px;
}
.form{
    width: 300px;
    right: 20px;
    bottom: 50px;
}
#verify,#submit{
  width: 110px; 
}
#submit{
    position: relative;
    left: 170px;
}
#verify{
    position: relative;
    left: 170px;
}
.close{
    left: 150px;
}
video{
  height: 250px;
  width: 400px;
}
.video{
  height: 300px;
}
.contact{
  grid-template-columns: [one]100%;
  margin: 0px 20px;
  }

.row{
    margin: 0rem;
    min-height: 300px;
    padding: 0rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}
.links{
    margin: 0px 10px;
}
.feedback{
  width: 400px;
}
.feed,option{
    margin-left: 5px;
  padding: 5px 10px 5px 5px;
}
}